$color-light: #fff;
$color-dark: #181909;
$color-green: #19b92c;
$color-warning: #991d1b;
$color-gold: gold;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
